.mobile-header {
    display: none;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 100px;
    justify-content:space-between;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif; 
    padding: 0;
    margin-top: 0;
}
.sticky-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px lightgray;
    margin: 0;
    transition: all 0.6s ease-out;
}

.phona {
    margin-top: 20px;
}


.mobile-header p {
    display: inline;
    font-size: 30px;

}
.mobile-header span {
    font-size: 70px;
    color: #17E600;
}
.mobile-header .fas {
    font-size: 30px;
}

.phona .fas {
    font-size: 30px;
    margin-right: 10px;
}

.mobile-menu {
    font-family: 'Nunito Sans', sans-serif; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    width: 0;
    height: 100%;
    overflow: hidden;
}

.aside {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    font-size: 15px;
    overflow: hidden;
    transition: width 0.5s ;
}

.aside h4 {
    font-size: 15px;
    margin-left: 10px;
}

.aside ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    list-style: none;
    text-decoration: none;
}

.aside ul li {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #EFEFEF;
}
.aside ul li a {
    text-decoration: none;
    color: black;
}

.transparent {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.search-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    transition: all 0.4s ease;
}

.search-mobile .search1 {
    margin-top: 35px;
    width: 80%;
    height: 30px;
    outline: none;
    padding: 5px;
    border: 1px #EFEFEF solid;
    border-radius: 10px 10px 10px 10px;
}

.search-mobile .search2 {
    height: 40px;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    background-color:  #17E600;
    color: white;
    outline: none;
}

@media all and (max-width:685px){
    header {
        display: none;
    }
    .slider {
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    footer {
        width: 100%;
        margin-left: 0;
    }
    .menu3 {
        margin-left: 20px;
    }
    .up{
        left: 50%;
    }
    .footer-logo {
        margin-bottom: 15px;
    }
    .a-propos {
        margin-bottom: 15px;
        margin-left: -15px;
    }
    .a-propos .social-media .social {
        margin-bottom: 5px;
    }
    .footer-menu{
        width: 100%;
    }
    #search .input1 {
        margin-left: 15px;
        width: 70%;
    }
    .container {
        display:inline-block;
        color: black;
        background-color: aliceblue;
        padding: 10px;
        width: 80%;
        height: 80%;
        position:absolute;
        top: 10%;
        left:50%;
        border: 1px solid white;
        border-radius: 10px ;
        box-shadow: whitesmoke 5px  5px 5px 5px ;
        overflow: hidden;
        transition:  2s ease-in;
    }
    .conseil-img {
        width: 100%;
        height: 40%;
        margin-right: 10px;
    }
    .mobile-header{
        display: flex;
    }
}
